<div class= "jumbotron center"> <!--remove 'center' after jumbotron to keep items in jumbo homepge float left-->
	<h1>Sup yo!</h1>
	<p>Hey you, gald you were able to join us today.</p>
	<p>The site is currently under construction. When ready, you'll be able <br>to create image-text to share with your friends!</p>
	<p><%= link_to "Log in", "#", class: "btn btn-info btn-lg" %> <%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %></p>
</div>